.contact-container {
  position: relative;
  background: linear-gradient(
    to bottom,
    #385168 0%,
    #385168 30%,
    #efefef 30%,
    #efefef 100%
  );
  display: flex;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.4) 1%,
      transparent 80%
    );
    opacity: 0.6;
    z-index: 0;
  }

  .contact-content-left {
    width: 60%;
    position: relative;
    padding-left: 50px;
    display: flex;
    flex-direction: column;

    .contact-top {
      display: flex;
      margin: 0;
      padding: 0;
      justify-content: space-between;
      .contact-header {
        font-size: 54px;
        max-width: 50%;
        padding-top: 50px;
        width: 40%;
      }

      .contact-image {
        width: 40%;
      }
    }

    .form-section {
      .form-header {
        font-size: 54px;
        color: #385168;
      }
      .form-paragraph {
        font-size: 22px;
        color: #7d888e;
      }

      .span-text {
        color: #40be6c;
      }
    }

    .form-rect {
      background-color: white;
      border-radius: 4px;
      padding: 25px;
      margin: 34px 0;

      .form-title {
        text-align: center;
        font-size: 54px;
        color: #385168;
      }
    }
  }

  .contact-content-right {
    width: 40%;
    align-items: flex-start;
    padding-right: 50px;

    .communication-container {
      background-color: white;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      color: #385168;
      margin-top: 111px;
      padding: 0 30px;
      padding-top: 30px;
      padding-bottom: 25px;

      .hub-title {
        color: #1f4d6f;
        font-size: 48px;
        padding-bottom: 10px;
      }

      .blue-header {
        color: #68aade;
        font-size: 32px;
      }

      .blue-value {
        color: #1f4d6f;
        font-size: 20px;
        margin-bottom: 20px;
      }

      .phoneNumbers {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .column {
          display: flex;

          .country_img {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
